/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;          
  padding: 0 15px;                
  background-color: #fff;         
  color: #000;                   
  height: 50px;                   
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  z-index: 1000;                  
    position: fixed;
   width: 98%;
   z-index: 9999;              
}
.navbar-toggle {
  font-size: 21px;
  cursor: pointer;
}

.navbar-signin {
  display: flex;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
}

.navbar-signin svg {
  margin-right: 8px;
}

/* .navbar-toggle:hover,
.navbar-signin:hover {
  color: #ddd;
} */
